<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="col">
  <div class="d-grid gap-2 d-md-block">
    <button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/}'|">홈</button>
    <button class="btn btn-secondary" type="button" th:onclick="|history.back(-1);|">뒤로</button>
  </div>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>회원 목록</h2>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end"
              onclick="location.href='addMemberForm.html'"
              th:onclick="|location.href='@{/members/new/form}'|"
              type="button" >회원 등록</button>
    </div>
  </div>

  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>id</th>
        <th>회원 id</th>
        <th>이름</th>
        <th>email</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td><a href="member.html" th:href="@{/members/{memberId}(memberId=${member.id})}" th:text="${member.id}">순서</a></td>
        <td><a href="member.html" th:href="@{/members/{memberId}(memberId=${member.id})}" th:text="${member.userId}">userId</a></td>
        <td><a href="member.html" th:href="@{|/members/${member.id}|}" th:text="${member.name}">이름</a></td>
        <td><a href="member.html" th:href="@{|/members/${member.id}|}" th:text="${member.email}">이메일</a></td>
      </tr>
      </tbody>
    </table>
  </div>

</div> <!-- /container -->


</body>
</html>