<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="col">
    <button class="w-100 btn btn-secondary btn-lg" type="button"
            th:onclick="|location.href='@{/}'|">
        홈으로 이동
    </button>
</div>

    <div class="container">
        <h4 class="mb-3" th:text="|로그인: ${member.userId}|">로그인 사용자 이름</h4>
      <h2>제목</h2>
      <div class="well" th:text="${post.title}">제목</div>
      <h3>내용</h3>
      <div class="well well-lg" th:text="${post.content}">본문내용</div>
    </div>


<hr>
<table class="table">
    <thead>
    <tr>
        <th>작성자</th>
        <th>내용</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">
        <td><a href="post.html" th:href="@{/members/{memberId}(memberId=${comment.member.id})}" th:text="${comment.member.userId}">작성자</a></td>
        <td th:text="${comment.content}">댓글 내용</td>
    </tr>
    </tbody>
</table>

<hr>
<form action="post.html" th:action="@{/comments/new?postId={id}(id=${post.id})}" th:object="${commentDto}" method="post">
    <div class="form-group">
        <label for="commentString" class="form-label">댓글</label>
        <input type="text" class="form-control" name="commentString" id="commentString" placeholder="댓글을 입력">
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>

</form>

<form th:action="@{/posts/{postId}/delete(postId=${post.id})}" method="post">
    <button class="w-100 btn btn-dark btn-lg"
            th:onclick="|location.href='@{/posts/{postId}/delete(postId=${post.id})}'|" type="submit">
        글 삭제
    </button>
</form>

</body>
</html>