<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="col">
    <button class="w-100 btn btn-secondary btn-lg" type="button"
            th:onclick="|location.href='@{/}'|">
        홈으로 이동
    </button>
</div>

    <div class="container">
        <h4 class="mb-3" th:text="|로그인: ${member.userId}|">로그인 사용자 이름</h4>
      <h2>제목</h2>
      <div class="well" th:text="${post.title}">제목</div>
      <h3>내용</h3>
      <div class="well well-lg" th:text="${post.content}">본문내용</div>
    </div>

</body>
</html>