<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="title" align="center">
    <h1><b>400 BAD REQUEST</b></h1>
    <hr size="15px">
    <br>
    <p>잘못된 요청입니다.</p>

    <li>잘못된 값을 입력했거나</li>
    <li>잘못된 접근을 했습니다.</li>
</div>
</body>
</html>